footer.footer
  .footer__logo
    img(src='/img/logo/gwlogo2.png' alt='GuessWhat? logo')
  ul.footer__nav 
    li: a(href='#') About Us 
    li: a(href='#') Contact
  p.footer__copyright &copy;2024 by Alex Assis. All rights reserved.